<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="images\logo-mercado-liebre.svg" alt="logo" class="logo">
            <input type='text' placeholder='Buscar productos, marcas y más' id='search-text-input' />
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="burguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    
    <img src="images\img-home-banner.jpg" alt="Home Banner" width="100%" class="banner" />

    <main class="home">
        
        
        <h3 class="section-title">Basado en tu última visita</h3>
        
        <section>
            <article class="card">
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex" />
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p class="precio">$6.770</p>
                        <p>40% OFF</p>
                    </div>
                    <h5 class="product-name">Cafetera Moulinex</h5>
                </div>
            </article>


            <article class="card">
                <img src="images\img-macbook-pro-2019.jpg" width="100%" alt="Foto de MacBook" />
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p class="precio">$230.000</p>
                        <p>20% OFF</p>
                    </div>
                    <h5 class="product-name">MacBook Pro 2019</h5>
                </div>
            </article>

            <article class="card">
                <img src="images\img-samsung-galaxy-s10.jpg" width="100%" alt="Foto de Galaxy S10" />
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p class="precio">$70.500</p>
                        <p>10% OFF</p>
                    </div>
                    <h5 class="product-name">Samsung Galaxy S10</h5>
                </div>
            </article>

            <article class="card">
                <img src="images\img-tv-samsung-smart.jpg" width="100%" alt="Foto de Smart TV" />
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p class="precio">$23.200</p>
                        <p>5% OFF</p>
                    </div>
                    <h5 class="product-name">SmartTV Samsung 43"</h5>
                </div>
            </article>

        </section>
        <h3 class="section-title">Ofertas</h3>
        <section>
            <article class="card">
                <img src="images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex" />
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p class="precio">$6.770</p>
                        <p>40% OFF</p>
                    </div>
                    <h5 class="product-name">Cafetera Moulinex</h5>
                </div>
            </article>

            <article class="card">
                <img src="images\img-macbook-pro-2019.jpg" width="100%" alt="Foto de MacBook" />
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p class="precio">$230.000</p>
                        <p>20% OFF</p>
                    </div>
                    <h5 class="product-name">MacBook Pro 2019</h5>
                </div>
            </article>

            <article class="card">
                <img src="images\img-samsung-galaxy-s10.jpg" width="100%" alt="Foto de Galaxy S10" />
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p class="precio">$70.500</p>
                        <p>10% 0FF</p>
                    </div>
                    <h5 class="product-name">Samsung Galaxy S10</h5>
                </div>
            </article>

            <article class="card">
                <img src="images\img-tv-samsung-smart.jpg" width="100%" alt="Foto de Smart TV" />
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p class="precio">$23.200</p>
                        <p>5% OFF</p>
                    </div>
                    <h5 class="product-name">SmartTV Samsung 43"</h5>
                </div>
            </article>

        </section>
    </main>
    <footer>
        <article class="footer-article">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </article>
        <article class="footer-article">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>

            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </article>
        <article class="footer-article">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>

            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
            </p>
        </article>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>
</body>

</html>