footer {
    padding-top: 60px;
  }
  
  footer article.footer-article {
    margin-bottom: 60px;
  }
  
  footer .footer-article {
    text-align: center;
  }
  
  footer article.footer-article i {
    color: #1159C3;
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  footer article.footer-article h3 {
    font-size: 16px;
    color: #666;
  }
  
  footer article.footer-article p {
    font-size: 12px;
    width: 77%;
    margin: 0 auto;
    color: #666;
  }
  
  footer .copy {
    color: #666;
    font-size: 12px;
    margin: 0 0 15px 15px;
  }